In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

In [3]:
df

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [4]:
import pandas as pd

data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

data = data.dropna(subset=['BOROUGH'])

# Group by borough and count crashes
crashes_by_borough = data['BOROUGH'].value_counts()

# Find the borough with the highest total number of crashes
highest_crashes_borough = crashes_by_borough.idxmax()
highest_crashes_count = crashes_by_borough.max()

print(f"The borough with the highest total number of crashes since 2012 is {highest_crashes_borough} with {highest_crashes_count} crashes.")

The borough with the highest total number of crashes since 2012 is BROOKLYN with 441026 crashes.

In [5]:
import pandas as pd

# Define the population estimates
population_data = {
    'Borough': ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
    'Population': [1446788, 2648452, 1638281, 2330295, 487155]
}

population_df = pd.DataFrame(population_data)

crash_data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

# Filter data for records since July 2012
crash_data['CRASH DATE_CRASH TIME'] = pd.to_datetime(crash_data['CRASH DATE_CRASH TIME'])
crash_data = crash_data[crash_data['CRASH DATE_CRASH TIME'] >= '2012-07-01']

# Calculate the total number of crashes for each borough during this period
total_crashes_by_borough = crash_data.groupby('BOROUGH')['NUMBER OF PERSONS INJURED'].sum().reset_index()

# Calculate crashes per 100,000 people without using merge
result_data = pd.merge(total_crashes_by_borough, population_df, left_on='BOROUGH', right_on='Borough')
result_data['Crashes per 100,000 People'] = (result_data['NUMBER OF PERSONS INJURED'] / result_data['Population']) * 100000

# Check if there is any data available
if not result_data.empty:
    # Find the borough with the highest number of crashes per 100,000 people
    max_crashes_borough = result_data.loc[result_data['Crashes per 100,000 People'].idxmax()]
    print(f"The borough with the most crashes for every 100,000 people is {max_crashes_borough['BOROUGH']} with {max_crashes_borough['Crashes per 100,000 People']:.2f} crashes per 100,000 people.")
else:
    print("Cannot be calculated with the given information")

Cannot be calculated with the given information

In [6]:
import pandas as pd

crash_data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

# Filter out rows where either 'VEHICLE TYPE CODE 1' or 'VEHICLE TYPE CODE 2' is missing
crash_data = crash_data.dropna(subset=['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2'])

# Group by combinations of vehicle types and count the accidents
vehicle_combinations = crash_data.groupby(['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']).size().reset_index(name='Accident Count')

# Find the combination with the most accidents
most_common_combination = vehicle_combinations.loc[vehicle_combinations['Accident Count'].idxmax()]

print(f"The combination of vehicles with the most accidents is: {most_common_combination['VEHICLE TYPE CODE 1']} and {most_common_combination['VEHICLE TYPE CODE 2']} with {most_common_combination['Accident Count']} accidents.")

The combination of vehicles with the most accidents is: Sedan and Sedan with 197944 accidents.

In [7]:
import pandas as pd

crash_data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

# Count the total number of accidents
total_accidents = len(crash_data)

# Count the number of accidents with missing or null values in the 'BOROUGH' column
accidents_without_borough = crash_data['BOROUGH'].isnull().sum()

# Calculate the proportion of accidents without a BOROUGH code
proportion_missing_borough = accidents_without_borough / total_accidents

print(f"The proportion of accidents without a Borough code is approximately {proportion_missing_borough:.2%}.")

The proportion of accidents without a Borough code is approximately 31.11%.

In [8]:
import pandas as pd

crash_data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

# Count the total number of accidents
total_accidents = len(crash_data)

# Count the number of accidents with 1 or more deaths
fatal_accidents = len(crash_data[crash_data['NUMBER OF PERSONS KILLED'] >= 1])

# Calculate the average number of fatal accidents per 1000 accidents
average_fatal_accidents_per_1000 = (fatal_accidents / total_accidents) * 1000

print(f"On average, for every 1000 accidents, approximately {average_fatal_accidents_per_1000:.2f} have resulted in at least one person dead.")

On average, for every 1000 accidents, approximately 1.39 have resulted in at least one person dead.

In [9]:
import pandas as pd

crash_data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

# Count the number of accidents with at least one fatality
fatal_accidents_count = len(crash_data[crash_data['NUMBER OF PERSONS KILLED'] >= 1])

print(f"The total count of accidents that involved at least one fatality since 2012 is {fatal_accidents_count}.")

The total count of accidents that involved at least one fatality since 2012 is 2804.

In [10]:
import pandas as pd

crash_data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

# Group by contributing factors and count the accidents
crash_data = crash_data[crash_data['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']

# Group by contributing factors and count the accidents
top_factors = crash_data['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().reset_index()
top_factors.columns = ['Contributing Factor', 'Count']

# Select the top 3 contributing factors
top_3_factors = top_factors.head(3)

# Calculate the total number of accidents
total_accidents = len(crash_data)

# Calculate the total count of accidents for the top 3 contributing factors
total_top_3_accidents = top_3_factors['Count'].sum()

# Calculate the proportion of total crashes accounted for by the top 3 contributing factors
proportion_top_3 = total_top_3_accidents / total_accidents

print(f"The top 3 causes of crashes (ignoring 'Unspecified') account for approximately {proportion_top_3:.2%} of total crashes.")

The top 3 causes of crashes (ignoring 'Unspecified') account for approximately 47.37% of total crashes.

In [11]:
import pandas as pd

crash_data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

# Filter out rows with 'CONTRIBUTING FACTOR VEHICLE 1' as 'Unspecified'
crash_data = crash_data[crash_data['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']

# Filter out rows where 'CONTRIBUTING FACTOR VEHICLE 1' is known
known_cause_crashes = crash_data[crash_data['CONTRIBUTING FACTOR VEHICLE 1'].notna()]

# Group by contributing factors and count the accidents
leading_cause = known_cause_crashes['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().reset_index()
leading_cause.columns = ['Contributing Factor', 'Count']

# Select the leading cause (the one with the highest count)
leading_cause = leading_cause.head(1)

# Calculate the total number of accidents
total_accidents = len(known_cause_crashes)

# Calculate the proportion of accidents attributable to the leading cause
proportion_leading_cause = leading_cause['Count'].iloc[0] / total_accidents

print(f"The leading cause of crashes (ignoring 'Unspecified') is '{leading_cause['Contributing Factor'].iloc[0]}' with a proportion of approximately {proportion_leading_cause:.2%} of accidents.")

The leading cause of crashes (ignoring 'Unspecified') is 'Driver Inattention/Distraction' with a proportion of approximately 30.42% of accidents.